.app-topic-list {
    background: #d5d5d5;
    text-align: center;
    border-bottom: 1px solid #ccc;
    text-transform: capitalize;
}

.app-topic-list ul {
    color: #000000;
}

.app-topic-list ul li {
    margin: 10px 20px;
    font-size: 14px;
}

/*responsive*/

@media screen and (max-width: 650px) {

    .app-topic-list ul li {
        margin: 10px 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {

    .app-topic-list ul li {
        margin: 10px 10px;
        font-size: 14px;
    }
}