.app-header {
    background: #000000;
    color: #FFFFFF;
    height: 55px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.logo {
    text-shadow: 3px 3px 20px rgba(150, 150, 150, 1);
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    padding-top: 10px;
    margin-left: 20px;
}

.header-right {
    display: inline-flex;
}

.menu {
    padding: 20px;
}

.menu li {
    margin-right: 20px;
    font-size: 15px;
    color: #999999;
}

.menu li:last-child {
    margin-right: 5px;
}

.menu li .active {
    color: #FFFFFF;
}

.menu-buttons {
    margin: 14px;
    margin-left: 0px;
}

.bar-pod {
    display: none;
}

/*responsive*/

@media screen and (max-width: 500px) {

    .logo-pod, .header-right .menu {
        display: none;
    }

    .bar-pod {
        display: inline-block;
    }

    .menu {
        padding: 18px;
    }

    .logo {
        font-size: 23px;
    }

}