.btn-join {
    margin-top: 60px;
    padding: 15px 30px;
    font-size: 20px;
}

.app-banner {
    background-color: #eef9fb;
    background-position: center;
    background-repeat: no-repeat;
}

.app-banner-title {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);

}

.app-banner aside {
    padding-top: 30px;
    color: #eeeeee;
    font-family: 'Exo 2', sans-serif;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    border-bottom: 1px solid #aaaaaa;
    padding-bottom: 250px;
}

/*responsive*/

@media screen and (max-width: 500px) {

    .app-banner {
        background-size: cover;
    }

    .app-banner-title {
        font-size: 25px;
        margin: 10px;
    }

}